<pre><code class="javascript">REACT clientimport ApolloClient, { createNetworkInterface } from 'apollo-client';

const networkInterface = createNetworkInterface('/graphql');

networkInterface.use([{
	applyMiddleware(req, next) {
		if (!req.options.headers) {
			req.options.headers = {};  // Create the header object if needed.
		}
		req.options.headers.authorization = localStorage.getItem('token') ? localStorage.getItem('token') : null;
		next();
	}
}]);

const client = new ApolloClient({
	networkInterface,
});</code></pre>
